<form [formGroup]="editInterventionForm" (ngSubmit)="onSubmitEditForm()">
  <div class="row form-group">
    <div class="col-8">
      <button class="btn btn-primary float-right" (click)="onBack()"><i class="fas fa-arrow-circle-left"></i>Retour
      </button>
    </div>
    <div class="col-8">
      <label for="libelle">Libellé</label>
    </div>
    <div class="col-8">
      <input id="libelle" placeholder="{{ intervention.libelle }}" class="form-control" formControlName="libelle">
    </div>
    <div class="col-8">
      <label for="description">Description</label>
    </div>
    <div class="col-8">
      <input placeholder="{{intervention.description}}" id="description" class="mb-2 form-control" formControlName="description">
    </div>
    <div class="col-8">
      <label for="nomIntervenant">Nom de l'intervenant</label>
    </div>
    <div class="col-8">
      <input placeholder="{{intervention.nomIntervenant}}" id="nomIntervenant" class="mb-2 form-control" formControlName="nomIntervenant">
    </div>
    <div class="col-8">
      <label for="lieu">Lieu</label>
    </div>
    <div class="col-8">
      <input placeholder="{{intervention.lieu}}" id="lieu" class="mb-2 form-control" formControlName="lieu">
    </div>
    <div class="col-8">
      <label for="dateIntervention">Date de l'intervention</label>
    </div>
    <div class="col-8" >
      <input [type]="dateExist()" placeholder="{{intervention.dateIntervention | date: 'dd/MM/yyyy'}}"
             id="dateIntervention"
             class="mb-2 form-control" formControlName="dateIntervention">
    </div>
    <div class="col-8">
      <button type="submit" class="btn btn-primary mr-3" (click)="onEditIntervention(intervention)">Enregistrer
        modifications
      </button>
      <button type="reset" class="btn btn-danger">Annuler</button>
    </div>
  </div>
</form>
