<p>Nous sommes le {{dateDuJour | date: 'dd/MM/yyyy'}}</p>
<button class="btn btn-primary float-right mb-1"><a routerLink="/new-intervention" class="text-white"><i class="fas fa-plus-circle">Ajouter une intervention</i></a></button>
<table class="table table-striped table-sm table-hover">
  <thead>
    <tr>
      <th scope="col" class="align-middle">Id</th>
      <th scope="col" class="align-middle">Libellé</th>
      <th scope="col" class="align-middle">Description</th>
      <th scope="col" class="align-middle">Lieu</th>
      <th scope="col" class="align-middle">Nom de l'intervenant</th>
      <th scope="col" class="align-middle">Date de l'intervention</th>
      <th scope="col" class="align-middle">Modifier</th>
      <th scope="col" class="align-middle">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let intervention of interventions; let i = index" >
      <th>{{intervention.id}}</th>
      <th [ngClass]="getColors(intervention)" class="text-white">{{intervention.libelle}}</th>
      <td>{{intervention.description}}</td>
      <td>{{intervention.lieu}}</td>
      <td>{{intervention.nomIntervenant}}</td>
      <td>{{intervention.dateIntervention | date: 'dd/MM/yyyy'}}</td>
      <td><button class="btn-sm btn-outline-primary" (click)="onEditIntervention(i)" [disabled]="getColors(intervention) === 'bg-danger'">
        <a><i class="far fa-edit ml-2"></i></a>
      </button></td>
      <td><button class="btn-sm btn-danger" (click)="deleteIntervention(intervention)"><span class="fas fa-trash-alt"></span></button></td>
    </tr>
  </tbody>
</table>
<br>
<p class="bold">Légende des statuts</p>
<p><i class="fas fa-stop text-danger"></i> : Terminé</p>
<p><i class="fas fa-stop text-warning"></i> : Brouillon</p>
<p><i class="fas fa-stop text-success"></i> : Validé</p>

