<button class="btn btn-primary" (click)="onBack()"><i class="fas fa-arrow-circle-left"></i>Retour à liste des interventions</button>
<div class="col">
  <form [formGroup]="interventionForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="libelle">Libellé de l'intervention</label>
      <input type="text" class="form-control" id="libelle" formControlName="libelle">
    </div>
    <div class="form-group">
      <label for="description">Description de l'intervention</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>
    <div class="form-group">
      <label for="nomIntervenant">Nom de l'intervenant</label>
      <input type="text" class="form-control" id="nomIntervenant" formControlName="nomIntervenant">
    </div>
    <div class="form-group">
      <label for="lieu">Lieu de l'intervention</label>
      <input type="text" class="form-control" id="lieu" formControlName="lieu">
    </div>
    <div class="form-group">
      <label for="dateIntervention">Date de l'intervention</label>
      <input type="date" class="form-control" id="dateIntervention" formControlName="dateIntervention">
    </div>
    <button type="submit" class="btn btn-primary mr-3" (click)="onSaveIntervention()" [disabled]="interventionForm.invalid">Enregistrer</button>
    <button type="reset" class="btn btn-danger">Annuler</button>
  </form>
</div>
